In [1]:
import pandas as pd
import numpy as np
import pylab as plt
import seaborn as sns
import statistics as stats
import requests as req
from bs4 import BeautifulSoup as bs
import warnings
import datetime
import time
warnings.filterwarnings('ignore') 
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

Scrapeo

In [2]:
%pip install selenium

Requirement already satisfied: selenium in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (3.8.3)
Requirement already satisfied: python-dotenv in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from webdriver-manager) (0.20.0)
Requirement already satisfied: requests in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: tqdm in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: colorama in c:\users\joser\onedrive\documentos\anaconda\anaconda\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    
opciones.add_argument('--start-maximized')         
opciones.add_argument('--incognito')

In [5]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

[WDM] - Downloading: 100%|██████████| 6.46M/6.46M [00:02<00:00, 2.98MB/s]

In [6]:
url_sevilla= 'https://www.indomio.es/mercado-inmobiliario/andalucia/sevilla-provincia/'

In [7]:
driver.get(url_sevilla)

In [8]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [9]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [10]:
tabla_sevilla=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_sevilla.text.split('\n'))

106

In [11]:
sevilla_1=tabla_sevilla.text.split('\n')

In [12]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in sevilla_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [13]:
df_sevilla = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [14]:
df_sevilla=df_sevilla.drop(df_sevilla.index[[0]])

In [15]:
df_sevilla['Venta']=df_sevilla['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_sevilla['Alquiler']=df_sevilla['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [16]:
mediana_venta=df_sevilla.Venta.median()
mediana_venta

612.0

In [17]:
mediana_alq=df_sevilla.Alquiler.median()
mediana_alq

4.79

In [18]:
df_sevilla['Venta']=df_sevilla['Venta'].replace('NaN', mediana_venta)
df_sevilla['Alquiler']=df_sevilla['Alquiler'].replace('NaN', mediana_alq)

In [19]:
df_sevilla['Venta']=pd.to_numeric(df_sevilla['Venta'],downcast='integer')
df_sevilla['Alquiler']=pd.to_numeric(df_sevilla['Alquiler'],downcast='integer')

In [20]:
df_sevilla.info()
df_sevilla

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 1 to 105
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  105 non-null    object
 1   Venta        105 non-null    float64
 2   Alquiler     105 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.6+ KB

                     Poblaciones    Venta  Alquiler
1                        Sevilla    2.045     10.17
2                      Aguadulce  526.000      6.22
3                         Alanís  653.000      4.79
4           Albaida del Aljarafe  816.000      3.88
5             Alcalá de Guadaíra    1.119      6.06
..                           ...      ...       ...
101  Villamanrique de la Condesa  713.000      2.70
102       Villanueva de San Juan  354.000      4.79
103       Villanueva del Ariscal  972.000      3.46
104   Villanueva del Río y Minas  612.000      4.79
105           Villaverde del Río  928.000      3.01

[105 rows x 3 columns]

Limpiamos Jaén

In [21]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [22]:
url_jaen= 'https://www.indomio.es/mercado-inmobiliario/andalucia/jaen-provincia/'

In [23]:
driver.get(url_jaen)

In [24]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [25]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [26]:
tabla_jaen=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_jaen.text.split('\n'))

98

In [27]:
jaen_1=tabla_jaen.text.split('\n')

In [28]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in jaen_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [29]:
df_jaen = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [30]:
df_jaen=df_jaen.drop(df_jaen.index[[0]])

In [31]:
df_jaen['Venta']=df_jaen['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_jaen['Alquiler']=df_jaen['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [32]:
mediana_venta=df_jaen.Venta.median()
mediana_venta

485.0

In [33]:
mediana_alq=df_jaen.Alquiler.median()
mediana_alq

4.130000000000001

In [34]:
df_jaen['Venta']=df_jaen['Venta'].replace('NaN', mediana_venta)
df_jaen['Alquiler']=df_jaen['Alquiler'].replace('NaN', mediana_alq)

In [35]:
df_jaen['Venta']=pd.to_numeric(df_jaen['Venta'],downcast='integer')
df_jaen['Alquiler']=pd.to_numeric(df_jaen['Alquiler'],downcast='integer')

In [36]:
df_jaen.info()
df_jaen

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 1 to 97
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  97 non-null     object
 1   Venta        97 non-null     float64
 2   Alquiler     97 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.4+ KB

                 Poblaciones    Venta  Alquiler
1                       Jaén    1.266      6.78
2        Albanchez de Mágina  591.000      4.13
3             Alcalá La Real  593.000      4.05
4                  Alcaudete  562.000      4.13
5               Aldeaquemada  485.000      4.13
..                       ...      ...       ...
93    Villanueva de La Reina  639.000      4.13
94  Villanueva del Arzobispo  576.000      4.13
95            Villardompardo  169.000      4.13
96             Villarrodrigo  485.000      4.13
97               Villatorres    1.238      4.13

[97 rows x 3 columns]

Limpiamos Córdoba

In [37]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [38]:
url_cor= 'https://www.indomio.es/mercado-inmobiliario/andalucia/cordoba-provincia/'

In [39]:
driver.get(url_cor)

In [40]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [41]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [42]:
tabla_cor=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_cor.text.split('\n'))

76

In [43]:
cor_1=tabla_cor.text.split('\n')

In [44]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in cor_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [45]:
df_cor = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [46]:
df_cor=df_cor.drop(df_cor.index[[0]])

In [47]:
df_cor['Venta']=df_cor['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_cor['Alquiler']=df_cor['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [48]:
mediana_venta=df_cor.Venta.median()
mediana_alq=df_cor.Alquiler.median()
df_cor['Venta']=df_cor['Venta'].replace('NaN', mediana_venta)
df_cor['Alquiler']=df_cor['Alquiler'].replace('NaN', mediana_alq)

In [49]:
df_cor['Venta']=pd.to_numeric(df_cor['Venta'],downcast='integer')
df_cor['Alquiler']=pd.to_numeric(df_cor['Alquiler'],downcast='integer')

In [50]:
df_cor.info()
df_cor

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 1 to 75
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  75 non-null     object
 1   Venta        75 non-null     float64
 2   Alquiler     75 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.9+ KB

                Poblaciones    Venta  Alquiler
1                   Córdoba    1.424      7.11
2                    Adamuz    1.375      3.50
3    Aguilar de La Frontera  585.000      2.91
4               Alcaracejos  595.000      3.50
5               Almedinilla  461.000      3.50
..                      ...      ...       ...
71     Villanueva del Duque  641.000      3.50
72       Villanueva del Rey  359.000      3.50
73               Villaralto  273.000      3.50
74  Villaviciosa de Córdoba  708.000      3.50
75                  Zuheros  564.000      3.50

[75 rows x 3 columns]

limpiamos Huelva

In [51]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [52]:
url_huelva= 'https://www.indomio.es/mercado-inmobiliario/andalucia/huelva-provincia/'

In [53]:
driver.get(url_huelva)

In [54]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [55]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [56]:
tabla_huelva=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_huelva.text.split('\n'))

80

In [57]:
huelva_1=tabla_huelva.text.split('\n')

In [58]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in huelva_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [59]:
df_huelva = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [60]:
df_huelva=df_huelva.drop(df_huelva.index[[0]])

In [61]:
df_huelva['Venta']=df_huelva['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_huelva['Alquiler']=df_huelva['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [62]:
mediana_venta=df_huelva.Venta.median()
mediana_alq=df_huelva.Alquiler.median()
df_huelva['Venta']=df_huelva['Venta'].replace('NaN', mediana_venta)
df_huelva['Alquiler']=df_huelva['Alquiler'].replace('NaN', mediana_alq)

In [63]:
df_huelva['Venta']=pd.to_numeric(df_huelva['Venta'],downcast='integer')
df_huelva['Alquiler']=pd.to_numeric(df_huelva['Alquiler'],downcast='integer')

In [64]:
df_huelva.info()
df_huelva

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 1 to 79
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  79 non-null     object
 1   Venta        79 non-null     float64
 2   Alquiler     79 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.0+ KB

                      Poblaciones    Venta  Alquiler
1                          Huelva    1.117      7.96
2                          Alájar  692.000      5.52
3                       Aljaraque    1.247      5.54
4              Almonaster La Real  869.000      5.52
5                         Almonte    1.661     10.83
..                            ...      ...       ...
75       Villanueva de Las Cruces  535.500      5.52
76  Villanueva de los Castillejos  455.000      5.52
77                     Villarrasa  831.000      5.52
78                Zalamea La Real  706.000      5.52
79                          Zufre  461.000      5.52

[79 rows x 3 columns]

limpiamos Cádiz

In [65]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [66]:
url_cadiz= 'https://www.indomio.es/mercado-inmobiliario/andalucia/cadiz-provincia/'

In [67]:
driver.get(url_cadiz)

In [68]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [69]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [70]:
tabla_cadiz=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_cadiz.text.split('\n'))

45

In [71]:
cadiz_1=tabla_cadiz.text.split('\n')

In [72]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in cadiz_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [73]:
df_cadiz = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [74]:
df_cadiz=df_cadiz.drop(df_cadiz.index[[0]])

In [75]:
df_cadiz['Venta']=df_cadiz['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_cadiz['Alquiler']=df_cadiz['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [76]:
mediana_venta=df_cadiz.Venta.median()
mediana_alq=df_cadiz.Alquiler.median()
df_cadiz['Venta']=df_cadiz['Venta'].replace('NaN', mediana_venta)
df_cadiz['Alquiler']=df_cadiz['Alquiler'].replace('NaN', mediana_alq)

In [77]:
df_cadiz['Venta']=pd.to_numeric(df_cadiz['Venta'],downcast='integer')
df_cadiz['Alquiler']=pd.to_numeric(df_cadiz['Alquiler'],downcast='integer')

In [78]:
df_cadiz.info()
df_cadiz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 1 to 44
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  44 non-null     object
 1   Venta        44 non-null     float64
 2   Alquiler     44 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB

                  Poblaciones    Venta  Alquiler
1                       Cádiz    2.443     10.15
2       Alcalá de los Gazules  583.000      4.73
3            Alcalá del Valle  497.000      5.79
4                       Algar  694.000      5.79
5                   Algeciras    1.094      7.09
6                 Algodonales  777.000      5.79
7        Arcos de la Frontera  883.000      5.16
8                     Barbate    1.615      5.04
9        Benalup-Casas Viejas  825.000      2.30
10                   Benaocaz  916.000      3.51
11                     Bornos  663.000      5.79
12   Castellar de la Frontera    1.487      5.28
13    Chiclana de la Frontera    1.549      7.79
14                   Chipiona    1.754      7.50
15       Conil de la Frontera    2.362      7.44
16                  El Bosque    1.161      2.99
17                  El Gastor    1.052      2.67
18   El Puerto de Santa María    1.915      9.02
19                     Espera  499.000      5.81
20                  Grazalema    1.081      5.79
21       Jerez de la Frontera    1.108      6.98
22      Jimena de la Frontera    1.030      4.46
23  La Línea de la Concepción    1.352      8.25
24                Los Barrios    1.277      5.33
25             Medina Sidonia  995.000      5.34
26                     Olvera  665.000      5.79
27          Paterna de Rivera  542.000      2.83
28              Prado del Rey  664.000      5.77
29                Puerto Real    1.325      7.18
30             Puerto Serrano  354.000      5.79
31                       Rota    1.935      9.07
32               San Fernando    1.319      7.68
33         San José del Valle  951.000      2.69
34                  San Roque    2.437      8.83
35      Sanlúcar de Barrameda    1.583      6.97
36     Setenil de las Bodegas  453.000      5.79
37                     Tarifa    3.207     11.21
38            Torre Alháquime  500.000      5.79
39                  Trebujena  734.000      5.79
40                    Ubrique  987.000      4.59
41       Vejer de la Frontera    1.689      7.77
42    Villaluenga del Rosario  989.000      5.79
43                Villamartín    1.641      5.37
44        Zahara de la Sierra    1.270      5.79

limpiamos Málaga

In [79]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [80]:
url_malaga= 'https://www.indomio.es/mercado-inmobiliario/andalucia/malaga-provincia/'

In [81]:
driver.get(url_malaga)

In [82]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [83]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [84]:
tabla_malaga=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_malaga.text.split('\n'))

104

In [85]:
malaga_1=tabla_malaga.text.split('\n')

In [86]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in malaga_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [87]:
df_malaga = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [88]:
df_malaga=df_malaga.drop(df_malaga.index[[0]])

In [89]:
df_malaga['Venta']=df_malaga['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_malaga['Alquiler']=df_malaga['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [90]:
mediana_venta=df_malaga.Venta.median()
mediana_alq=df_malaga.Alquiler.median()
df_malaga['Venta']=df_malaga['Venta'].replace('NaN', mediana_venta)
df_malaga['Alquiler']=df_malaga['Alquiler'].replace('NaN', mediana_alq)

In [91]:
df_malaga['Venta']=pd.to_numeric(df_malaga['Venta'],downcast='integer')
df_malaga['Alquiler']=pd.to_numeric(df_malaga['Alquiler'],downcast='integer')

In [92]:
df_malaga.info
df_malaga

                Poblaciones    Venta  Alquiler
1                    Málaga    2.197     10.43
2                   Alameda  711.000      3.99
3                  Alcaucín    1.351      4.75
4                 Alfarnate  642.000      5.50
5               Alfarnatejo  336.000      5.50
..                      ...      ...       ...
99      Villanueva de Tapia  549.000      5.50
100  Villanueva del Rosario  824.000      5.91
101  Villanueva del Trabuco    1.131      5.50
102                 Viñuela    1.641      4.85
103                Yunquera  953.000      5.50

[103 rows x 3 columns]

limpiamos Granada

In [93]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [94]:
url_granada= 'https://www.indomio.es/mercado-inmobiliario/andalucia/granada-provincia/'

In [95]:
driver.get(url_granada)

In [96]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [97]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [98]:
tabla_granada=driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_granada.text.split('\n'))

173

In [99]:
granada_1=tabla_granada.text.split('\n')

In [100]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in granada_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [101]:
df_granada = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [102]:
df_granada=df_granada.drop(df_granada.index[[0]])

In [103]:
df_granada['Venta']=df_granada['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_granada['Alquiler']=df_granada['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [104]:
mediana_venta=df_granada.Venta.median()
mediana_alq=df_granada.Alquiler.median()
df_granada['Venta']=df_granada['Venta'].replace('NaN', mediana_venta)
df_granada['Alquiler']=df_granada['Alquiler'].replace('NaN', mediana_alq)

In [105]:
df_granada['Venta']=pd.to_numeric(df_granada['Venta'],downcast='integer')
df_granada['Alquiler']=pd.to_numeric(df_granada['Alquiler'],downcast='integer')

In [106]:
df_granada.info()
df_granada

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 1 to 172
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  172 non-null    object
 1   Venta        172 non-null    float64
 2   Alquiler     172 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.2+ KB

          Poblaciones    Venta  Alquiler
1             Granada    1.916      8.42
2               Agrón  643.000      4.26
3          Alamedilla  508.000      4.26
4            Albolote    1.249      6.20
5            Albondón  596.000      4.26
..                ...      ...       ...
168  Villanueva Mesía  610.000      4.26
169            Víznar  725.000      2.54
170         Zafarraya  576.000      4.26
171             Zagra  425.000      4.26
172             Zújar  372.000      2.19

[172 rows x 3 columns]

limpiamos Almeria

In [107]:
driver =  ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [108]:
url_almeria = 'https://www.indomio.es/mercado-inmobiliario/andalucia/almeria-provincia/'

In [109]:
driver.get(url_almeria)

In [110]:
driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div/div/div/button[2]').click()

In [111]:
driver.find_element(By.XPATH,'/html/body/div[1]/section/div[1]/div/section[3]/div/button').click()

In [112]:
tabla_almeria =driver.find_element(By.XPATH, '/html/body/div[1]/section/div[1]/div/section[3]/div/div/table')

len(tabla_almeria.text.split('\n'))

104

In [113]:
almeria_1=tabla_almeria.text.split('\n')

In [114]:
Poblaciones=[]
Venta=[]
Alquiler=[]

for i in almeria_1:
    aux =i.split(' ')
    Alquiler.append(aux[-1])
    Venta.append(aux[-2])
    Poblaciones.append(' '.join(aux[:-2]))

In [115]:
df_almeria = pd.DataFrame(list(zip(Poblaciones, Venta, Alquiler)), 
               columns =['Poblaciones', 'Venta', 'Alquiler'])

In [116]:
df_almeria=df_almeria.drop(df_almeria.index[[0]])

In [117]:
df_almeria['Venta']=df_almeria['Venta'].replace('-', 'NaN').str.replace(",", ".")
df_almeria['Alquiler']=df_almeria['Alquiler'].replace('-', 'NaN').str.replace(",", ".")

In [118]:
mediana_venta=df_almeria.Venta.median()
mediana_alq=df_almeria.Alquiler.median()
df_almeria['Venta']=df_almeria['Venta'].replace('NaN', mediana_venta)
df_almeria['Alquiler']=df_almeria['Alquiler'].replace('NaN', mediana_alq)

In [119]:
df_almeria['Venta']=pd.to_numeric(df_almeria['Venta'],downcast='integer')
df_almeria['Alquiler']=pd.to_numeric(df_almeria['Alquiler'],downcast='integer')

In [120]:
df_almeria.info()
df_almeria

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 1 to 103
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poblaciones  103 non-null    object
 1   Venta        103 non-null    float64
 2   Alquiler     103 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

     Poblaciones    Venta  Alquiler
1        Almería    1.213      7.34
2           Abla  504.000      4.05
3       Abrucena  557.000      4.05
4           Adra  936.000      4.36
5      Albanchez  843.000      1.95
..           ...      ...       ...
99   Vélez-Rubio  663.000      2.38
100         Vera    1.516      9.69
101       Viator  816.000      5.27
102        Vícar  757.000      6.54
103      Zurgena  764.000      2.74

[103 rows x 3 columns]

concatenar tablas (precio de venta/alquiler)

In [307]:
#df_sevilla.to_excel('../p.final/tablas limpias/df_sevilla.xlsx', index= False)

In [122]:
sevilla=pd.read_excel('../p.final/tablas limpias/df_sevilla.xlsx')

In [123]:
#df_jaen.to_excel('../p.final/tablas limpias/df_jaen.xlsx', index= False)

In [124]:
jaen=pd.read_excel('../p.final/tablas limpias/df_jaen.xlsx')

In [125]:
#df_cor.to_excel('../p.final/tablas limpias/df_cor.xlsx', index= False)

In [126]:
cordoba=pd.read_excel('../p.final/tablas limpias/df_cor.xlsx')

In [127]:
#df_huelva.to_excel('../p.final/tablas limpias/df_huelva.xlsx', index= False)

In [128]:
huelva=pd.read_excel('../p.final/tablas limpias/df_huelva.xlsx')

In [129]:
#df_cadiz.to_excel('../p.final/tablas limpias/df_cadiz.xlsx', index= False)

In [130]:
cadiz=pd.read_excel('../p.final/tablas limpias/df_cadiz.xlsx')

In [131]:
#df_malaga.to_excel('../p.final/tablas limpias/df_malaga.xlsx', index= False)

In [132]:
malaga=pd.read_excel('../p.final/tablas limpias/df_malaga.xlsx')

In [133]:
#df_granada.to_excel('../p.final/tablas limpias/df_granada.xlsx', index= False)

In [134]:
granada=pd.read_excel('../p.final/tablas limpias/df_granada.xlsx')

In [135]:
#df_almeria.to_excel('../p.final/tablas limpias/df_almeria.xlsx', index= False)

In [136]:
almeria=pd.read_excel('../p.final/tablas limpias/df_almeria.xlsx')

In [137]:
precio = pd.concat([jaen, sevilla, cordoba, huelva, cadiz, malaga, granada, almeria], axis=0)
precio

     codigo_postal          Poblaciones Provincia    Venta  Alquiler
0            23050                 Jaén      Jaén    1.266      6.78
1            23001  Albanchez de Mágina      Jaén  591.000      4.13
2            23002       Alcalá La Real      Jaén  593.000      4.05
3            23003            Alcaudete      Jaén  562.000      4.13
4            23004         Aldeaquemada      Jaén  485.000      4.13
..             ...                  ...       ...      ...       ...
98            4099          Vélez-Rubio   Almería  663.000      2.38
99            4100                 Vera   Almería    1.516      9.69
100           4101               Viator   Almería  816.000      5.27
101           4102                Vícar   Almería  757.000      6.54
102           4103              Zurgena   Almería  764.000      2.74

[778 rows x 5 columns]

Conectamos los datos a SQL

In [142]:
from sqlalchemy import create_engine

In [143]:
str_conn='mysql+pymysql://root:password@localhost:3306'
cursor=create_engine(str_conn)
cursor.execute('drop database if exists proyecto_final;')
cursor.execute('create database proyecto_final;')

In [144]:
str_conn = str_conn + '/proyecto_final'
cursor = create_engine(str_conn)

In [145]:
empresa=pd.read_excel('../p.final/tablas limpias/empresa.xlsx')

In [146]:
empresa.to_sql(name='empresa', con=cursor, if_exists='replace', index=False)

6288

In [147]:
parados=pd.read_excel('../p.final/tablas limpias/paro.xlsx')

In [148]:
parados.to_sql(name='parados', con=cursor, if_exists='replace', index=False)

93164

In [149]:
censado=pd.read_excel('../p.final/tablas limpias/censados.xlsx')

In [150]:
censado.to_sql(name='censado', con=cursor, if_exists='replace', index=False)

15700

In [151]:
precio=pd.read_excel('../p.final/tablas limpias/precio.xlsx')

In [152]:
precio.to_sql(name='precio', con=cursor, if_exists='replace', index=False)

778